//Mapa card

$caja-general:(
    width-general: 100%,
    display-general: flex,
    maxwidth-general:1100px,
);

$caja-cartas:(
    width-cartas: 100%,
    display-cartas: flex,
    maxwidth-cartas:361px,
);